.title-type {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //set dimensions
    &__title {
        height:320px;
        width:320px;
    }
    &__label {
        text-shadow: 2px 2px #724747;
        text-align: center;
        z-index: 20;
        position:  absolute;
        font-family: 'Yellowtail', cursive;
        color: rgb(255, 255, 255);
        transform: rotate(-40deg);
        left: 36%;
        top: -5%;
        line-height: 35px;
    }
}


